.container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.catering-title-header {
    font-size: 5rem;
}

.catering-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.catering-subtitle-header {
    font-size: 3rem;
}

.catering-main-image {
    width: 100%;
    filter: brightness(50%)
}

.secondary-section-container,
.secondary-image-container {
  height: 450px;
  overflow: hidden;
}

.catering-secondary-image {
  outline: 1px solid white;
  outline-offset: -20px;
  height: 450px;
  overflow: hidden;
}

.catering-secondary-image {
  object-fit: cover;
  filter: brightness(50%)
}

.catering-second-text-container {
  z-index: 1;
  position: absolute;
  top: 185%;
  left: 70%;
  transform: translate(-50%, -50%);
}
